.admin-panel {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #1f1f1f;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 32%;
}

.admin-panel h2 {
    color: #fff;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    margin-top: 20px;
}

.admin-panel h3 {
    color: #fff;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.Ch{
   padding: 0.5rem 2rem;
   background-color: #992222;
   margin: -32px;
   border-radius: 8px;
   margin-bottom: 30px;
}
.admin-panel input[type="text"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 1rem;
}

.admin-panel button {
    background-color: #992222;
    color: white;
    border: none;
    padding: 0.85rem 1.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 15px;
}

.admin-panel button:hover {
    background-color: #852020;
}

/* Table styles */
.admin-panel table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.5rem;
    border-radius: 8px;
    overflow: hidden;
}

.admin-panel table th, table td {
    padding: 1rem;
    border: 1px solid #dee2e6;
    text-align: left;
}

.admin-panel table th {
    background-color: #8e8e8e;
    color: #1f1f1f;
    font-size: 20px;
}

.admin-panel table td {
    background-color: rgb(202, 200, 200);
    font-size: 20px;
}

.admin-panel table button {
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    border-radius: 4px;
}

.admin-panel table button:hover {
    background-color: #0056b3;
}

.admin-panel table button:first-of-type {
    background-color: #9028a7;
}

.admin-panel table button:first-of-type:hover {
    background-color: #43175c;
}

.admin-panel table button:last-of-type {
    background-color: #dc3545;
}

.admin-panel table button:last-of-type:hover {
    background-color: #c82333;
}

/* Error message style remains the same */
.error-message-panel {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .admin-panel {
        padding: 1rem;
    }

    .admin-panel table th, table td {
        padding: 0.75rem;
    }
}
