/* Tracker.css */
.tracker-container {
  max-width: 1200px;
  margin: 30px auto;
  padding: 30px;
  background-color: #2b2b2b;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tracker-container h1,
.tracker-container h3 {
  color: #fff;
  margin-bottom: 20px;
}

.tracker-section {
  flex: 1;
  min-width: 300px;
  margin-right: 30px;
}

.tracker-section-table {
  flex: 2;
  min-width: 600px;
}

.dropdown,
.text-area,
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #333;
  color: #fff;
  font-size: 16px;
}

.tracker-section textarea {
  height: 100px;
  resize: vertical;
  margin-left: 15px;
  margin-top: 10px;
}

.button-track {
  padding: 12px 24px;
  border-radius: 5px;
  border: none;
  background-color: #992222;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
  font-size: 16px;
  font-weight: bold;
  margin-left: 15px;
}

.button-track:hover {
  background-color: #b92929;
}

.button-track:active {
  transform: translateY(2px);
}

.workout-table {
  width: 100%;
  margin-top: 20px;
  background-color: #333;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
}

.workout-table th,
.workout-table td {
  padding: 12px;
  border-bottom: 1px solid #444;
  text-align: left;
  color: #fff;
}

.workout-table th {
  background-color: #222;
  font-weight: bold;
}

.workout-table tr:last-child td {
  border-bottom: none;
}

.workout-table button {
  padding: 8px 12px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  background-color: #444;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.workout-table button:hover {
  background-color: #555;
}

.error-message-tracker{
  margin-left: 15px;
  margin-top: 10px;
  color: #d63131;
}