/* Tracker.css */
.tracker-container {
    max-width: 100%;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    /* background-color: #ccc; */
    margin-top:30px;
    display: flex;
  }

  .tracker-container h1{
    margin-left: 15px;
    color: #fff;
  }
  .tracker-container h3{
    color: #fff;
  }
  .tracker-section{
    margin-left: 5%;
  }
  .upload-section {
    margin-bottom: 20px;
  }
  .dropdown {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .file-input {
    margin-bottom: 10px;
  }
  
  .preview-section {
    margin-top: 10px;
  }
  
  .image-preview {
    max-width: 100%;
    max-height: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .text-area {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    margin-left: 12px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  textarea {
    width: 554px !important;
    height: 100px;
    margin-bottom: 10px;
    margin-left: 12px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    background-color: #2b2b2b ;
    color: #ccc;
  }
  .button-group-track {
    margin-top: 20px;
    margin-left: 15px;
  }
  
  .button-track {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #992222;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 15px;
  }
  
  .button-track:hover {
    background-color: #6b1818;
  }
  .tracker-section-table{
    margin-right: 25%;
    margin-top: 10px;
  }
  .workout-table {
    width: 170%;
    margin-top: 20px;
    background-color: #f1f1f1;
    border-collapse: collapse;
  }
  
  .workout-table th, .workout-table td {
    padding: 5px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .workout-table th {
    background-color: #f4f4f4;
  }
  
  .workout-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  .workout-table button{
    padding: 5px 10px;
    gap: 55px;
    color: #992222;
  }

  