.user-management {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    margin-left: 290px;
    display: flex;
    flex-direction: column;
  }
  .error-message-acc {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .user-form {
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
  }
  
  .form-row input,
  .form-row select {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
  }
  .userselect{
    width: 47% !important;
  }
  .user-form button {
    background-color: #992222;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 50%;
    align-self: flex-start;
    width: 47%;
    margin-left: 15px;
  }
  
  .user-form button:hover {
    background-color: #801b1b;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* Add border-radius to make the whole table rounded */
  overflow: hidden; /* Ensures that the rounded corners are not cut off */
  }
  
  .user-table th,
  .user-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
  }
  .user-table td {
    background-color: #e0e0e0;
    font-size: 18px;
  }
  .user-table th {
    background-color: #858686;
    font-weight: bold;
    color: #333;
    font-size: 18px;
  }
  
  .user-table tr:hover {
    background-color: #f8f9fa;
  }
  
  .user-table button {
    background-color: #9028a7;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s;
  }
  
  .user-table button:hover {
    background-color: #2980b9;
  }
  
  .user-table button:last-child {
    background-color: #e74c3c;
  }
  
  .user-table button:last-child:hover {
    background-color: #c0392b;
  }
  
  @media (max-width: 768px) {
    .user-management {
      margin-left: 35%;
      padding: 10px;
  }
    .form-row {
      flex-direction: column;
      gap: 10px;
    }
  
    .form-row:nth-child(3) select,
    .user-form button {
      width: 100%;
    }
  
    .user-table {
      font-size: 14px;
    }
  
    .user-table th,
    .user-table td {
      padding: 8px 2px;
    }
  }
  @media (max-width: 480px) {
    .user-management {
      margin-left: 55%;
      padding: 0px;
      width: 80%;
  }
    .user-table td {
        font-size: 14px;
        padding: 8px 1px;
    }
    
    .user-table button {
        font-size: 12px;
    }
    
    .form-row input,
    .form-row select {
        font-size: 14px;
    }
}
  